# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen @MWindel

/content/change-logs/application-enablement/ @rahultsag @janhommes @BeateRixen @MWindel
/content/change-logs/device-management/ @Oezge-Akin @aaronraab @l2p- @BeateRixen @MWindel
/content/change-logs/platform-services/ @iiar-c8y @martin-c8y @mgrumann @saran-govindarajan @scmi-c8y @pink-mongoose @BeateRixen @MWindel
/content/change-logs/application-enablement/dtm* @rahultsag @pavanshivajirao @lara-c8y @BeateRixen @MWindel
/content/change-logs/analytics/apama-in-c8y* @kailol-sag @Rob-J-SAG @BeateRixen @MWindel @skom-c8y
/content/change-logs/analytics/cdh* @cheinz-sag @ChrisFurlong @BeateRixen @MWindel

/content/datahub/ @cheinz-sag @BeateRixen @MWindel
/content/device-management-application/ @Oezge-Akin @l2p- @BeateRixen
/content/dtm/ @pavanshivajirao @lara-c8y @BeateRixen @MWindel
content/authentication @BeateRixen

/content/streaming-analytics/ @kailol-sag @BeateRixen @MWindel @skom-c8y
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @kailol-sag @skom-c8y
