# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen marlene.windel@softwareag.com

/content/device-management-application/ @Oezge-Akin @rssag

/content/streaming-analytics/ @kailol-sag @BeateRixen marlene.windel@softwareag.com @rssag
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @kailol-sag
