# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen marlene.windel@softwareag.com

/content/change-logs/application-enablement/ @rahultsag @janhommes @BeateRixen
/content/change-logs/device-management/ @Oezge-Akin @aaronraab @l2p- @BeateRixen
/content/change-logs/platform-services/ @airdroplet @martin-sag @kalavathig1 @sarangovindarajan @pink-mongoose @BeateRixen
/content/change-logs/application-enablement/dtm* @rahultsag @pavanshivajirao  @BeateRixen
/content/device-management-application/ @Oezge-Akin

/content/streaming-analytics/ @kailol-sag @BeateRixen marlene.windel@softwareag.com
/content/change-logs/analytics/apama-in-c8y* @kailol-sag @Rob-J-SAG @BeateRixen marlene.windel@softwareag.com
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @kailol-sag
