.admonition {
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1px;
  border-left: .5rem solid transparent;
  font-weight: normal;
  font-size: 14px;
  border-radius: .5rem;
  box-shadow: var(--c8y-elevation-sm);
}

.admonition .title {
  margin: 0 0 1rem;
  // padding-bottom: .5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 3px;
  // border: 1px solid;
  // border-style: hidden hidden solid;
  font-size: 1.125rem;
  &:before {
    @extend .dlt-c8y-icon;
    margin-right: .5rem;
  }
}


.info {
  border-color: var(--c8y-palette-status-info);
  background-color: var(--c8y-palette-status-info-light);
}

.info .title {
  color: var(--c8y-palette-status-info);
  border-color: rgba(0, 0, 0, .2);

  &:before {
    content: $dlt-c8y-icon-info-circle;
  }
}

.tip {
  border-color: var(--c8y-palette-status-info);
  background-color: var(--c8y-palette-status-info-light);
}

.tip .title {
  color: var(--c8y-palette-status-info);
  border-color: var(--c8y-palette-status-info);
  &:before {
    content: $dlt-c8y-icon-info-circle;
  }
}

.req {
  border-color: var(--c8y-palette-status-success);
  background-color: var(--c8y-palette-status-success-light);
}

.req .title {
  color: var(--c8y-palette-status-success);
  border-color: var(--c8y-palette-status-success);
  &:before {
    content: $dlt-c8y-icon-check-circle;
  }
}

.related {
  border-color: var(--c8y-palette-status-info);
  background-color: var(--c8y-palette-status-info-light);
}

.related .title {
  color: var(--c8y-palette-status-info);
  border-color: var(--c8y-palette-status-info);
  &:before {
    content: $dlt-c8y-icon-info-circle;
}
}

.howto {
  border-color: var(--c8y-palette-status-info);
  background-color: var(--c8y-palette-status-info-light);
}

.howto .title {
  color: var(--c8y-palette-status-info);
  border-color: var(--c8y-palette-status-info);
  &:before {
    content: $dlt-c8y-icon-info-circle;
  }
}

.caution {
  border-color: var(--c8y-palette-status-warning);
  background-color: var(--c8y-palette-status-warning-high);
}

.caution .title {
  color: var(--c8y-palette-status-warning);
  border-color: var(--c8y-palette-status-warning);
  &:before {
    content: $dlt-c8y-icon-warning;
  }
}

.important {
  border-color: var(--c8y-palette-status-danger);
  background-color: var(--c8y-palette-status-danger-light);
}

.important .title {
  color: var(--c8y-palette-status-danger);
  border-color: var(--c8y-palette-status-danger);
    &:before {
    content: $dlt-c8y-icon-exclamation-circle;
  }
}

.preview {
  border-color: var(--c8y-palette-status-preview);
  background-color: var(--c8y-palette-status-preview-high);
}

.preview .title {
  color: var(--c8y-palette-status-preview);
  border-color: var(--c8y-palette-status-preview);
  &:before {
    content: $dlt-c8y-icon-preview;
  }
}

#preview-banner{
  max-width: 105ch;
  margin: 0 auto;
}
