// speed up fa-spin
.fa-spin {
  webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

//extra class for mastercard icon
.fa-cc-master:before {
  content: "\f1f1";
}

// keep fontAwesome defined;
body .fa{
  font-family: FontAwesome;
}

/*
  Icon Font: c8yicon
*/

@font-face {
  font-family: "c8yicon-dark";
  src: url("fonts/c8yicon-dark.eot");
  src: url("fonts/c8yicon-dark.eot?#iefix") format("embedded-opentype"),
       url("fonts/c8yicon-dark.woff") format("woff"),
       url("fonts/c8yicon-dark.ttf") format("truetype"),
       url("fonts/c8yicon-dark.svg#c8yicon-dark") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "c8yicon-dark";
    src: url("fonts/c8yicon-dark.svg#c8yicon-dark") format("svg");
  }
}

@font-face {
  font-family: "c8yicon-light";
  src: url("fonts/c8yicon-light.eot");
  src: url("fonts/c8yicon-light.eot?#iefix") format("embedded-opentype"),
       url("fonts/c8yicon-light.woff") format("woff"),
       url("fonts/c8yicon-light.ttf") format("truetype"),
       url("fonts/c8yicon-light.svg#c8yicon-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "c8yicon-light";
    src: url("fonts/c8yicon-light.svg#c8yicon-light") format("svg");
  }
}

.c8y-icon {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 0;
  &:not(.fa):before{
    display: inline-block;
    font-family: "c8yicon-dark";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  &:after{
    display: inline-block;
    font-family: "c8yicon-light";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: absolute;
    left: 0;
    top:0;
  }
}

.c8y-icon{
  &.c8y-icon-white{
    &::before{
      color:$blue-14;
    }
    &::after{
      color: $blue-65;
    }
  }

  &.c8y-icon-duocolor{
    &::before{
      color:$blue-14;
    }
    &::after{
      color: $blue-65;
    }
  }
}

.c8y-icon-accounts:before,
.c8y-icon-accounts:after
 { content: "\f100"; }
.c8y-icon-add-user:before,
.c8y-icon-add-user:after
 { content: "\f101"; }
.c8y-icon-administration:before,
.c8y-icon-administration:after
 { content: "\f102"; }
.c8y-icon-alarm:before,
.c8y-icon-alarm:after
 { content: "\f103"; }
.c8y-icon-alert-idle:before,
.c8y-icon-alert-idle:after
 { content: "\f104"; }
 .c8y-icon-analytic-model:before,
 .c8y-icon-analytic-model:after
  { content: "\f141"; }
.c8y-icon-analytics-builder:before,
.c8y-icon-analytics-builder:after
{ content: "\f142"; }
.c8y-icon-archive:before,
.c8y-icon-archive:after
 { content: "\f105"; }
.c8y-icon-atom:before,
.c8y-icon-atom:after
 { content: "\f106"; }
.c8y-icon-bulb:before,
.c8y-icon-bulb:after
 { content: "\f107"; }
.c8y-icon-business-rules:before,
.c8y-icon-business-rules:after
 { content: "\f108"; }
.c8y-icon-c8y:before,
.c8y-icon-c8y:after
 { content: "\f109"; }
.c8y-icon-c8y-data:before,
.c8y-icon-c8y-data:after
 { content: "\f10a"; }
.c8y-icon-c8y-support:before,
.c8y-icon-c8y-support:after
 { content: "\f10b"; }
.c8y-icon-calendar:before,
.c8y-icon-calendar:after
 { content: "\f10c"; }
.c8y-icon-chart:before,
.c8y-icon-chart:after
 { content: "\f10d"; }
.c8y-icon-cockpit:before,
.c8y-icon-cockpit:after
 { content: "\f10e"; }
.c8y-icon-connector-in:before,
.c8y-icon-connector-in:after
 { content: "\f10f"; }
.c8y-icon-connector-out:before,
.c8y-icon-connector-out:after
 { content: "\f110"; }
.c8y-icon-data-broker:before,
.c8y-icon-data-broker:after
 { content: "\f111"; }
.c8y-icon-data-explorer:before,
.c8y-icon-data-explorer:after
 { content: "\f112"; }
.c8y-icon-data-points:before,
.c8y-icon-data-points:after
 { content: "\f113"; }
.c8y-icon-device:before,
.c8y-icon-device:after
 { content: "\f114"; }
.c8y-icon-device-connect:before,
.c8y-icon-device-connect:after
 { content: "\f115"; }
.c8y-icon-device-control:before,
.c8y-icon-device-control:after
 { content: "\f116"; }
.c8y-icon-device-management:before,
.c8y-icon-device-management:after
 { content: "\f117"; }
.c8y-icon-device-protocols:before,
.c8y-icon-device-protocols:after
 { content: "\f118"; }
.c8y-icon-energy:before,
.c8y-icon-energy:after
 { content: "\f119"; }
.c8y-icon-enterprise:before,
.c8y-icon-enterprise:after
 { content: "\f11a"; }
.c8y-icon-event-processing:before,
.c8y-icon-event-processing:after
 { content: "\f11b"; }
.c8y-icon-events:before,
.c8y-icon-events:after
 { content: "\f11c"; }
.c8y-icon-fieldbus:before,
.c8y-icon-fieldbus:after
 { content: "\f11d"; }
.c8y-icon-find-map:before,
.c8y-icon-find-map:after
 { content: "\f11e"; }
.c8y-icon-group:before,
.c8y-icon-group:after
 { content: "\f11f"; }
.c8y-icon-group-add:before,
.c8y-icon-group-add:after
 { content: "\f120"; }
.c8y-icon-group-open:before,
.c8y-icon-group-open:after
 { content: "\f121"; }
.c8y-icon-group-remote:before,
.c8y-icon-group-remote:after
 { content: "\f122"; }
.c8y-icon-group-remote-inactive:before,
.c8y-icon-group-remote-inactive:after
 { content: "\f123"; }
.c8y-icon-group-remote-open:before,
.c8y-icon-group-remote-open:after
 { content: "\f124"; }
.c8y-icon-group-smart:before,
.c8y-icon-group-smart:after
 { content: "\f125"; }
.c8y-icon-group-smart-open:before,
.c8y-icon-group-smart-open:after
 { content: "\f126"; }
.c8y-icon-java:before,
.c8y-icon-java:after
 { content: "\f127"; }
.c8y-icon-location:before,
.c8y-icon-location:after
 { content: "\f128"; }
.c8y-icon-management:before,
.c8y-icon-management:after
 { content: "\f129"; }
.c8y-icon-mobile-add:before,
.c8y-icon-mobile-add:after
 { content: "\f12a"; }
.c8y-icon-mobile-config:before,
.c8y-icon-mobile-config:after
 { content: "\f12b"; }
.c8y-icon-modules:before,
.c8y-icon-modules:after
 { content: "\f12c"; }
 .c8y-icon-mycloud:before,
 .c8y-icon-mycloud:after
  { content: "\f14c"; }
.c8y-icon-notification:before,
.c8y-icon-notification:after
 { content: "\f12d"; }
.c8y-icon-overviews:before,
.c8y-icon-overviews:after
 { content: "\f12e"; }
.c8y-icon-parking:before,
.c8y-icon-parking:after
 { content: "\f12f"; }
.c8y-icon-report:before,
.c8y-icon-report:after
 { content: "\f130"; }
.c8y-icon-reports:before,
.c8y-icon-reports:after
 { content: "\f131"; }
.c8y-icon-rocket:before,
.c8y-icon-rocket:after
 { content: "\f132"; }
.c8y-icon-saas:before,
.c8y-icon-saas:after
 { content: "\f133"; }
.c8y-icon-security:before,
.c8y-icon-security:after
 { content: "\f134"; }
.c8y-icon-shield:before,
.c8y-icon-shield:after
 { content: "\f135"; }
.c8y-icon-simulator:before,
.c8y-icon-simulator:after
 { content: "\f136"; }
.c8y-icon-smart-rest:before,
.c8y-icon-smart-rest:after
 { content: "\f137"; }
.c8y-icon-smart-rules:before,
.c8y-icon-smart-rules:after
 { content: "\f138"; }
.c8y-icon-sub-tenants:before,
.c8y-icon-sub-tenants:after
 { content: "\f139"; }
.c8y-icon-tenant-policies:before,
.c8y-icon-tenant-policies:after
 { content: "\f13a"; }
.c8y-icon-tools:before,
.c8y-icon-tools:after
 { content: "\f13b"; }
.c8y-icon-tracking:before,
.c8y-icon-tracking:after
 { content: "\f13c"; }
.c8y-icon-usage-statistics:before,
.c8y-icon-usage-statistics:after
 { content: "\f13d"; }
.c8y-icon-user:before,
.c8y-icon-user:after
 { content: "\f13e"; }
.c8y-icon-users:before,
.c8y-icon-users:after
 { content: "\f13f"; }
.c8y-icon-waste-bin:before,
.c8y-icon-waste-bin:after
 { content: "\f140"; }
 .c8y-icon-book:before,
 .c8y-icon-book:after
  { content: "\f14a"; }
.c8y-icon-bookmark:before,
.c8y-icon-bookmark:after
 { content: "\f14b"; }
 .c8y-icon-alfabet:before,
 .c8y-icon-alfabet:after
  { content: "\f143"; }
.c8y-icon-aris:before,
.c8y-icon-aris:after
 { content: "\f144"; }
.c8y-icon-cumulocity-iot:before,
.c8y-icon-cumulocity-iot:after
 { content: "\f145"; }
.c8y-icon-wm-api:before,
.c8y-icon-wm-api:after
 { content: "\f146"; }
.c8y-icon-wm-b2b:before,
.c8y-icon-wm-b2b:after
 { content: "\f147"; }
.c8y-icon-wm-dynamicapps:before,
.c8y-icon-wm-dynamicapps:after
 { content: "\f148"; }
.c8y-icon-wm-integration:before,
.c8y-icon-wm-integration:after
 { content: "\f149"; }




// fix notch
.fa-circle-o-notch.fa-spin {
  width: 1em;
  animation: fa-spin 1s infinite linear;
}

// glyphicon - used in datepicker
.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-align: center;
}

.glyphicon-chevron-left {
  &:before {
    content: "\f053";
  }
}

.glyphicon-chevron-right {
  &:before {
    content: "\f054";
  }
}

.glyphicon-chevron-up {
  &:before {
    content: "\f077";
  }
}

.glyphicon-chevron-down {
  &:before {
    content: "\f078";
  }
}

.glyphicon-ok {
  &:before {
    content: "\f00c";
  }
}

.glyphicon-remove {
  &:before {
    content: "\f00d";
  }
}
