[class^="change-log__label"],
[class*=" change-log__label"]{
  padding: 3px 1rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 75%;
  text-transform: uppercase;
  margin: 0 1rem 0 0;
  min-width: 140px;
  text-align: center;
}

.change-log__label{
  &--announcement{
    background-color: var(--c8y-palette-status-info-light);
    color: var(--c8y-palette-status-info-dark);
    outline: 2px solid var(--c8y-palette-status-info-dark);
  }
  &--change{
    background-color: var(--c8y-brand-primary);
    color: var(--c8y-palette-high);
  }
  &--feature{
    background-color: var(--c8y-palette-status-success-dark);
    color: var(--c8y-palette-status-success-light);
  }
  &--preview{
    background-color: var(--c8y-brand-accent);
    color: var(--c8y-palette-high);
  }
  &--fix{
    background-color: var(--c8y-palette-status-success);
    color: var(--c8y-palette-high);
  }
  &--issue{
    background-color: var(--c8y-palette-status-warning);
    color: var(--c8y-palette-high);
  }
  &--security{
    background-color: var(--c8y-palette-status-danger);
    color: var(--c8y-palette-status-danger-light);
  }
}

.change-log{
  h4{
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px dashed var(--c8y-root-component-separator-color);
  }
  h3+h4{
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
  }
}
