[class^="change-log__label"],
[class*=" change-log__label"]{
  padding: 3px 1rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 75%;
  text-transform: uppercase;
  margin: 0 1rem 0 0;
  min-width: 140px;
  text-align: center;
}

.change-log__label{
  &--announcement{
    background-color: var(--c8y-palette-status-warning);
    color: var(--c8y-palette-high);
  }
  &--change{
    background-color: var(--c8y-brand-primary);
    color: var(--c8y-palette-high);
  }
  &--feature{
    background-color: var(--c8y-palette-status-success-dark);
    color: var(--c8y-palette-status-success-light);
  }
  &--preview{
    background-color: var(--c8y-brand-accent);
    color: var(--c8y-palette-high);
  }
  &--fix{
    background-color: var(--c8y-palette-status-success);
    color: var(--c8y-palette-high);
  }
  &--issue{
    background-color: var(--c8y-palette-status-info-light);
    color: var(--c8y-palette-status-info-dark);
    outline: 2px solid var(--c8y-palette-status-info-dark);
  }
  &--security{
    background-color: var(--c8y-palette-status-danger);
    color: var(--c8y-palette-status-danger-light);
  }
}


.change-logs{
  &--list{
    position: relative;
    z-index: 5;
  }
  &--filters{
    height: calc(100vh - 182px);
  }
}

.change-log{
  h2{
    margin-bottom: 0;
    margin-top:0;
  }
  &__date{
    // display: contents;
      position: sticky;
      top: 106px;
      background-color: var(--c8y-palette-high);
      border-top: 1px solid var(--c8y-root-component-separator-color);
      // border-bottom: 1px solid var(--c8y-root-component-separator-color);
      padding: .5rem 1rem .5rem 0;
      border-radius: 0;
      h5{
       margin: 0;
        display: flex;
        gap: 1rem;
        align-items: center;
        &:after{
          // content: '';
          display: block;
          flex-grow: 1;
          border-top: 1px solid var(--c8y-root-component-separator-color);
        }
      }
    
  }
   + .change-log__date{
    margin-top: 2rem;
   }
  &__header{
    display: flex;
    align-items: center;
    // padding-top: 2rem;
    padding-bottom: 1rem;
    h2{
      text-wrap: balance;
      font-size: 18px;
    }
  }
  &__summary{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: .5rem;
    
    // border-width: 1px 0 1px;
    padding: 0 0 .5rem 0;
    // border-radius: .25rem;
    > label{
      flex: 0 0 auto;
    }
    > div{
      flex-basis: 33%;
      font-size: $font-size-sm;
      border: 1px solid var(--c8y-root-component-separator-color);
      padding: 0 .5rem .5rem;
      border-radius: .25rem;
      p{
        font-weight: bold;
        line-height: 1;
        font-size: 85%;
        color: var(--c8y-palette-gray-30);
      }
    }
  }
}


.isotope {
  position: static!important;
  height: auto!important;
  .page-section{
    width: 100%!important;
    position: static!important;
    &.change-log__date{
      position: sticky!important;
      top: 106px!important;
      margin-bottom: 4rem; 
    }
  }
}
