
.input-group{
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  
  .input-group-addon{
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    transform: translate(16px, -50%);
    color: $blue-primary;
    opacity: .6;

    + .input-lg{
      padding-left: 48px;
    }
  }
  
}

.form-control{
  background-image: none;
  background: white;
  border: 1px solid $gray-80;
  padding: 6px 12px;
  width: 100%;
  min-height: 34px;
  line-height: 1;
  transition: border .3s ease, box-shadow .3s ease;
  &:focus{
    outline:none;
    border-color: $blue-primary;
    box-shadow: inset 0 0 0 2px $blue-primary;
  }
}

.input-lg{
  font-size: 1.2rem;
  padding: 12px 16px;
  border-radius: 24px;
}

