body {
 
  .gsc-search-box.gsc-search-box-tools {
    // max-width: 300px;
  }
  .gsc-search-box-tools .gsc-search-box .gsc-input {
    background-color: transparent!important; //border: 2px solid @input-border;
    padding-right: 0;
    background-image: none!important;
  }
  .gsc-search-box-tools .gsc-search-box input.gsc-input {
    display: block!important;
    padding: 8px 10px!important;
    width: 100%!important;
    height: 34px!important;
    border: 2px solid #e5e7e7!important;
    border-radius: 17px!important;
    background-color: #ffffff!important;
    background-image: none!important;
    color: #333333!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s!important;
    text-indent: 0!important;
    &:focus {
      border-color: $input-border-focus!important;
    }
  }
  .gsib_a {
    width: 100%;
    padding: 0!important;
    border: 0!important;
  }
  .gsst_b {
    padding-top: 3px;
  }
  .gsc-input-box-focus,
  .gsc-input-box-hover {
    box-shadow: none!important;
  }
 
  td.gsc-search-button{
    position: relative;
    .gsc-search-button-v2,
    .gsc-search-button-v2:hover,
    .gsc-search-button-v2:focus{
      width: 34px;
      padding: 0;
      height: 34px;
      border-radius: 50%;
      border-color: $blue-primary;
      background-color: $blue-primary;
    }
  }
  .gsc-adBlock {
    display: none;
  }
  .gsc-input-box {
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 34px;
  }
  table.gsc-search-box .gsst_b {
    position: absolute;
    top: 2px;
    right: 40px;
    .gsst_a .gscb_a {
      color: $gray-90;
    }
  }
}

.gsc-control-cse .gsc-table-result {
  font-family: $font-family-base;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0!important;
  border: 0!important;
}

body form.gsc-search-box{
  margin-bottom:0;
}