html {
//  scroll-behavior: smooth;
}

body{
  background-color: $body-bg-color;
  position: relative;
  &.open{
    overflow-x: hidden;
  }
  @media print{
    background-color: white;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
  flex-flow: row wrap;
}

.flex-start{
  margin-right: auto !important;
}

.flex-end{
  margin-left: auto!important;
}

.align-center{
  align-items: center;
}

.container{
  padding: 0 1rem;
  max-width: 1200px;
  &-fluid{
    max-width: 100%;
  }
}



.img-responsive{
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

[data-action="zoom"]{
  transition: all 300ms;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}


@media (max-width: $screen-xs-max) {
  .hidden-xs {
      display:none !important
  }
}

@media (min-width: $screen-sm-min) and (max-width:$screen-sm-max) {
  .hidden-sm {
      display:none !important
  }
}

@media (min-width: $screen-md-min) and (max-width:$screen-md-max) {
  .hidden-md {
      display:none !important
  }
}

@media (min-width: $screen-lg-min) {
  .hidden-lg {
      display:none !important
  }
}
