.main-footer {
  transition: transform .3s $ease;
  -webkit-transition: transform .3s $ease;

  @media (max-width: $grid-breakpoint - 1) {
    .open & {
      backface-visibility: hidden;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -webkit-backface-visibility: hidden;
    }
  }

  @media (min-width: $grid-breakpoint) {
    margin-left: 280px;
  }

  @media print {
    display: none !important;
  }
}

.main-content {
  position: relative;
  z-index: 30;
  overflow: hidden;
  margin: 90px 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .01), 0 8px 8px rgba(0, 0, 0, .01),
    0 16px 16px rgba(0, 0, 0, .03), 0 32px 32px rgba(0, 0, 0, .05),
    0 32px 64px rgba(0, 0, 0, .1), 0 -3px 32px rgba(0, 0, 0, .1);
  transition: transform .3s $ease;
  -webkit-transition: transform .3s $ease;

  @media (max-width: $grid-breakpoint - 1) {
    .open & {
      backface-visibility: hidden;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -webkit-backface-visibility: hidden;
    }
  }

  .zoom-overlay-open & {
    position: static;
    overflow: visible;
  }

  table {
    @extend .table;
    @extend .table-striped;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0 solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  p>img {
    margin-bottom: 40px;
  }

  @media print {
    margin: 0 auto !important;
    padding: 2rem 1rem 1rem 3rem !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    pre {
      border: 5px solid #d9d9d9;
      white-space: normal;
      word-break: break-word;
      background-color: grey;
    }

    pre>code {
      padding: 0;
      color: inherit;
      white-space: pre;
      white-space: pre-wrap;
      background-color: grey;
      border: 5px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .main-content {
    padding: 40px;
    border-radius: 30px;
  }
}

@media (min-width: $grid-breakpoint) {
  .main-content {
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 280px;
    padding: 60px;
    max-width: 1140px;
    border-radius: 30px;
  }
}

// section header - renders in every page
.section-header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: $blue-primary;
  color: white;
  margin: -20px -20px 40px;
  padding: 20px;
  background-image: linear-gradient(to right, #1c8ce3 0, #5faeec 100%);

  @media (min-width: $screen-sm-min) {
    margin: -40px -40px 40px;
    padding: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  @media (min-width: $grid-breakpoint) {
    margin: -60px -60px 60px;
    padding: 40px 60px;
  }

  @media print {
    border-radius: 0;
  }

  img {
    margin-right: 10px;
    min-width: 70px;
    opacity: .8;
  }

  label {
    opacity: .8;
  }

  h1 {
    margin: 10px 0;
    font-weight: 200;
    letter-spacing: -0.03em; //font-size: 48px;
  }

  .lead {
    max-width: 660px;
  }

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  // hide empry lead
  +.lead:empty {
    display: none;
  }
}

.main-content .page-section {
  >h2 {
    display: flex;
    padding-top: 50px;
    margin-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #d9d9d9;
    font-weight: 200;
    //letter-spacing: -0.03em;
    color: $blue-35;

    >small {
      align-self: center;
      order: 8;
      margin-left: auto;
    }
  }

  >h3 {
    border-bottom: 0;
    color: rgba($blue-35, .8);
    font-weight: 300;
    margin-top: 4rem;
    padding-top: 45px;
  }

  >h4 {
    display: flex;
    font-weight: bold;
    color: $gray-40;
    margin-top: 3rem;
    padding-top: 45px;

    >small {
      align-self: center;
      order: 8;
      margin-left: auto;
    }
  }

  >h5 {
    font-weight: bold;
    color: $blue-35;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    border-radius: 4px;
    overflow: auto;
    margin: 1.5rem;
  }

}

table:not(.gsc-search-box):not(.gstl_50) {
  tr>td {
    word-break: break-word;
  }
}
