.main-footer {
  transition: transform .3s $ease;
  -webkit-transition: transform .3s $ease;
  text-align: center;
  @media (max-width: $grid-breakpoint - 1) {
    .open & {
      backface-visibility: hidden;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -webkit-backface-visibility: hidden;
    }
  }
  @media (min-width: $grid-breakpoint) {
    margin-left: 280px;
    .isHome &{
      margin-left: 0;
    }
  }
  @media print {
    display: none !important;
  }
}

.main-content {
  position: relative;
  z-index: 30;
  padding: 2rem 1rem 1rem;
  transition: transform .3s $ease;
  @media (max-width: $grid-breakpoint - 1) {
    .open & {
      backface-visibility: hidden;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -webkit-backface-visibility: hidden;
    }
  }

  .zoom-overlay-open & {
    position: static;
    overflow: visible;
  }

  table {
    @extend .table;
    @extend .table-striped;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0 solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  p > img {
    margin-bottom: 40px;
  }

  @media print {
    margin: 0 auto !important;
    padding: 2rem 1rem 1rem 3rem !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    pre {
      border: 5px solid #d9d9d9;
      white-space: normal;
      word-break: break-word;
      background-color: grey;
    }
    pre > code {
      padding: 0;
      color: inherit;
      white-space: pre;
      white-space: pre-wrap;
      background-color: grey;
      border: 5px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .main-content {
    padding: 0 1rem 1rem;
  }
}

@media (min-width: $grid-breakpoint) {
  .main-content {
    display: grid;
    grid-template-columns: minmax(320px, 9fr) minmax(0, 3fr);
    gap: 2rem;
    margin-left: 240px;
    padding: 0 3rem 2rem;
    >.breadcrumbs-container{
      grid-column: 1 / -1;
      width: 100%;;
      .breadcrumbs{
        padding: 1rem 0;
        position: sticky;
        top: 56px;
      }
    }
  }
  .article-list{
    min-height: calc(100vh - 210px);
  }
  .article-list > .page-section:first-child{
    padding-bottom: 0;
  }
  .article-list > .page-section:last-child{
    margin-bottom: 0;
  }
  .toc{
    position: sticky;
    top: 74px;
  }
  .article-list h3{
    padding-top: 3rem;
  }
}

// section header - renders in every page
.section-header {
  img {
    margin-right: 10px;
    min-width: 70px;
    opacity: .8;
  }
  label {
    opacity: .8;
  }
  
  .lead {
    max-width: 660px;
  }

  + .lead:empty {
    display: none;
  }
}

.main-content .page-section {
  padding-bottom: 4rem;
  > h2 {
    display: flex;
    margin-top: 2rem;
    padding-bottom: 16px;
    > small {
      align-self: center;
      order: 8;
      margin-left: auto;
    }
    + h3{
      padding-top: 0;
    }
  }

  > h3 {
    border-bottom: 0;
    padding-top: 3rem;
  }

  > h4 {
    display: flex;
    > small {
      align-self: center;
      order: 8;
      margin-left: auto;
    }
  }
  > h5 {
    color: $gray-text;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    border-radius: 4px;
    overflow: auto;
    margin: 1.5rem 0;
  }

  &:nth-child(2) {
    > h2 {
      padding-top: 0;
    }
  }
}

table:not(.gsc-search-box):not(.gstl_50) {
  tr > td {
    word-break: break-word;
  }
}


.c8y-pre{
  color:#8a8a8a;
  background-color:#1c1c1c;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  overflow: visible!important;
}
