.main-nav {
  width: $main-nav-width;
  position: fixed;
  top: 0;
  z-index: 40;
  padding-top: 72px;
  left: -$main-nav-width;
  transition: left .35s $ease;
  -webkit-transition: left .35s $ease;
  background-color: var(--c8y-palette-gray-100);
  border-right: 1px solid var(--c8y-root-component-border-color);
  .open & {
    left: 0;
  }
  @media (min-width: $screen-md-min) {
    left: 0;
  }
  @media print {
    display: none;
  }
}

.nav-header {
  padding: 0 20px 1rem;
  a{
    color: var(--navigator-text-color, var(--c8y-navigator-text-color-default));
    &:hover{
      color: var(--c8y-brand-primary);
      text-decoration: none;
    }
  }
  img {
    margin: 1.5rem 0 1rem;
  }
  .current-app {
    display: none;
  }

  .dropdown {
    position: relative;
    &.show {
      z-index: 1010;
    }
  }
  .dropdown-toggle {
    border: 1px solid var(--c8y-root-component-border-color);
    padding: 6px 16px;
    font-weight: bold;
    color: $gray-text;
    position: relative;
    z-index: 1001;
    display: block;
    width: 100%;
    background-color: white;
    background-image: none;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    .caret {
      margin-left: auto;
      transform: translateX(4px);
      -webkit-transform: translateX(4px);
    }
    &.version {
      padding: 0;
      border: 0;
      width: auto;
      color: var(--c8y-palette-gray-40);
      font-size: .775rem;
      background-image: none;
    }
  }
  .show .dropdown-toggle {
    // border-color: transparent;
    &.version {
      color: $brand-primary;
    }
  }
  .dropdown-menu {
    right: -20px;
    left: 0;
    padding-bottom: 0;
    font-size: 14px;
    .c8y-icon,
    .fa {
      font-size: 1rem;
      width: 1.3rem;
    }
  }
}

.nav-sections {
  height: calc(100vh - 210px);
  overflow-y: auto;
  position: relative;
  padding-bottom: 1rem;
  box-shadow: inset 0 1px 0 0 var(--c8y-root-component-border-color);
  &::-webkit-scrollbar {
    width: 4px;
    /* for vertical scrollbars */
    height: 4px;
    /* for horizontal scrollbars */
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
  }

  a {
    font-size: 14px;
    color: var(--navigator-text-color, var(--c8y-navigator-text-color-default));
  }
  a:hover{
    text-decoration: none;
    outline: 2px solid $brand-primary;
    outline-offset: -2px;
  }
  a.collapse-btn {
    position: absolute;
    right: 0;
    padding: 12px;
    line-height: unset;
    box-shadow: none;
    >i {
      line-height: 1.5;
    }
    .fa {
      transform: rotate(-90deg);
      transition: transform .35s ease;
      -webkit-transform: rotate(-90deg);
      -webkit-transition: transform .35s ease;
    }
    &.collapsed {
      .fa {
        transform: rotate(90deg);
        transition: transform .35s ease;
        -webkit-transform: rotate(90deg);
        -webkit-transition: transform .35s ease;
      }
    }
  }
  > div {
    // box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .03);
    a {
      padding: 14px 40px 14px 20px;
      line-height: 1.429;
      display: block;
      &:focus{
        text-decoration: none;
        outline: 2px solid $brand-primary;
        outline-offset: -2px;
        border-radius: 4px;
      }
      &:active{
        background-color: var(--c8y-navigator-background-active);
      }
    }
  }

  .list-group-item {
    display: block;
    padding: 6px 20px 6px 28px;
    box-shadow: none;
    font-size: 12px;
  }

  .list-group.nav {
    padding-bottom: .3rem;
   
  }

  .slot-active {
    background-color: rgba(white, .35);
  }
  .active {
    background-color: var(--c8y-navigator-background-selected);
    color: var(--c8y-navigator-color-active);
    box-shadow: inset 4px 0 0 0 var(--c8y-brand-primary);
  }
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 39;
  pointer-events: none;
  transition: background .3s $ease;
  -webkit-transition: background .3s $ease;

  .open & {
    background-color: rgba(black, .8);
    pointer-events: all;
  }
}
.navsections-dropdown-menu{
  max-height: calc(100vh - 230px);
  overflow-x: hidden;
  overflow-y: auto;
  > a > i{
    min-width: 1.5rem;
  }
  &::-webkit-scrollbar {
    width: 4px;
    /* for vertical scrollbars */
    height: 4px;
    /* for horizontal scrollbars */
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
  }
}
