.main-nav{
  width: $main-nav-width;
  position: fixed;
  top:0;
  z-index: 40;
  left: -$main-nav-width;
  transition: left .35s $ease;
  .open &{
    left:0;
  }
  @media(min-width: $screen-md-min){
    left:0;
  }
}

.nav-header{
  padding: 0 20px 1rem;
  img{
    margin: 1.5rem 0 1rem;
  }
  .current-app{
    display: none;
  }

  .dropdown-toggle{
    border: 2px solid $blue-primary;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: bold;
    color: $blue-primary;
    position: relative;
    z-index: 1001;
    display: block;
    width: 100%;
    background-color: transparent;
    background-image: none;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    .caret{
      margin-left: auto;
    }
    
  }
  .show .dropdown-toggle{
    border-color: transparent;
  }

  .dropdown-menu{
    top: -10px;
    right: -20px;
    left: 0;
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 1rem;
  }
}




.nav-sections{
  max-height: calc(100vh - 104px);
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 4px;
    /* for vertical scrollbars */
    height: 4px;
    /* for horizontal scrollbars */
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
  a{
    color: $gray-40;
  }
  a:hover{
    text-decoration: none;
    color: $blue-primary;
  }
  a.collapse-btn{
    position: absolute;
    right: 0;
    padding: 12px; 
    font-size: 6px;
    box-shadow: none;
    display: block;
    .fa{
      transform: rotate(-90deg);
      transition: transform .35s ease;
    }
    &.collapsed{
      .fa{
        transform: rotate(90deg);
        transition: transform .35s ease;
      }
    }
  }
  >div {
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.03);
    a{
      padding: 6px 40px 6px 20px;
      font-size: 14px;
      display: block;
    } 
  } 
  
  .list-group-item{
    display: block;
    padding: 6px 20px 6px 28px;
    box-shadow: none;
    font-size: 12px;
    
  }

  .active{
    color: $blue-primary;
    font-weight: bold;
  }
 
}

