html {
  font-size: 14px;
  line-height: 1.45;
  font-family: $font-base;
  color: $gray-text;
  @media(min-width:$grid-breakpoint){
    font-size: 16px;
  }
}


// ====================
// HEADINGS
// ====================

h1,
h2,
h3,
h4 {
  margin: 0 0 1em;
  font-weight: 500;
  line-height: 1.2;
  font-family: $font-headings;
}

.h1,
.h2,
.h3,
.h4 {
  display: inline;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 32px;
  @media(min-width: $grid-breakpoint){
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 22px;
  @media(min-width: $grid-breakpoint){
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 20px;
  @media(min-width: $grid-breakpoint){
      font-size: 24px;
    }
  }

h4,
.h4 {
  font-size: 18px;
  @media(min-width: $grid-breakpoint){
    font-size: 20px;
  }
}

h5, .h5{
  font-size: 16px;
  @media(min-width: $grid-breakpoint){
    font-size: 18px;
  }
}


p {
  margin: 0 0 1.3em;
}

strong{
  font-weight: 700;
}

small,
.small {
  font-size: 0.707em;
}

.text-small{
  font-size: 0.875em; // 14px;
  line-height: 1.4;
}

blockquote {
  margin: 22px 0 44px;
  padding: 22px 22px;
  border-radius: 3px;
  background-color: var(--c8y-palette-gray-90);
  color: var(--c8y-brand-primary);
  font-size: 16px;
  p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0;
  }
}

code{
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 90%;
  background-color: var(--c8y-code-background);
  color: var(--c8y-code-color);;
}

kbd{
  padding: 2px 4px;
  border-radius: 3px;
  background-color: var(--c8y-palette-status-info-light);
  color:var(--c8y-palette-status-info);
  font-size: 90%;
}

pre .hljs{
  padding: 1.5rem;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-regular{
  font-weight: 400;
}

.text-medium{
  font-weight: 500;
}

.text-muted{
  color: var(--c8y-root-component-color-text-muted);
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-uppercase{
  text-transform: uppercase;
}
.text-lowercase{
  text-transform: lowercase;
}
.text-capitalize{
  text-transform: capitalize;
}

.text-regularcase{
  text-transform: none;
}

.text-truncate{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-nowrap{
  white-space: nowrap;
}

hr{
  margin: $size-2 0;
  border-top: 1px solid var(--c8y-root-component-border-color);
  border-bottom: 0;
}

a{
  color: var(--c8y-link-color);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    color: var(--c8y-link-color-hover);
  }
}
