#launcher{
  position: fixed;
  top: -3px!important;
  right: 22px!important;
  left: auto!important;
  transform: scale(0.72)!important;
  margin: 10px 0!important;
  z-index: 37;
  @media(min-width: $grid-breakpoint){
    right: 22px!important;
  }
}