.home-pic {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background-color: @brand-complementary;
  background-position: center;
  background-size: cover;

  background-blend-mode: multiply;
}

.home-content {
  position: relative; //  padding: 10vh 0 30px 0;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  min-height: 100vh;
  color: white;
  padding-top: 170px;
  h1 {
    font-weight: 100;
    font-size: 76px;
    margin: 0;
    @media(min-width: @screen-sm-min){
      //min-width: 470px;
    }
  }
  .btn {
    border: 1px solid white;
    color: white;
    &:hover {
      .btn-primary();
    }
  }
  .card-group {
    //margin-top: auto;
  }
  &+footer {
    margin-top: -30px;
    color: white;
    opacity: .3;
  }
}

.home-side-bar {
  //#gradient>.horizontal( #072127, #071e22);
  display: flex;
  align-items: start;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 40px;
   a{
    display: block;
    margin-bottom: 24px;
    width: 100%;
    color: white;
    text-decoration: none;
  }
  .side-bar-btn {
    img,
    .h3 {
      font-weight: lighter;
      opacity: .8;
      transition: opacity .3s ease;
      font-size: 24px;
    }
    >span{
      opacity: .8;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      img,
      .h3 {
        opacity: 1;
      }
      >span{
        opacity: 1;
      }
      p {
        opacity: 1;
      }
    }
  }
  p {
    opacity: .6;
    transition: opacity .25s ease;
    font-size: 14px;
  }
}
