body{
  background-color: #f8f8f8;
  padding-top: 60px;
}

.content{
  background-color: white;
  padding: 40px;
  .box-shadow(0 1px 1px rgba(0,0,0,0.1));
}

.section-title{
  text-transform: uppercase;
}

hr{
  border-top-color: #d9d9d9;
  border-bottom-color: white;
}