
.navbar-brand{
  padding: 15px;
  max-width: 180px;
  @media screen and(min-width: @screen-md-max){
    max-width: 200px;
  }
}



.navbar-default{
  border:0;
  background: @darker;
  border-radius: 0;
  .navbar-nav {
    > li > a {
      font-weight: 100;
      text-transform: uppercase;
    }
  }
  .navbar-toggle{
    float: left;
    margin-right: 0;
    border-color: transparent;
  }
}

@media screen and(min-width: @screen-md-min){

  .navbar-default{
    .navbar-nav {
      > li > a {
        font-size: 16px;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }
}



@media screen and(min-width:@screen-sm-min)and(max-width: @screen-sm-max){

  .navbar-default{
    .navbar-nav {
      > li > a {
       padding-left: 5px;
       padding-right: 5px;
       font-size: 12px;
      }
    }
    .login{
      margin-top: 16px;
      .btn-success{
        font-size: 12px;
        padding-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
}

@media screen and(max-width:@grid-float-breakpoint){
  .navbar-default.navbar{
    min-height: 50px;
  }
  .navbar-brand{
    max-width: 190px;
  }
}

.left-nav{
  a{
    color:@darker;
    &:hover{
      color:@blue;
      text-decoration: none;
    }
  }

  h3{
    margin-top: 30px;
    text-transform: uppercase;

    a{
      color:@gray;
    }
  }
  .panel{
    padding: 0;
    list-style: none;
    border-radius:2px;
    h3, p, .list-group-item{
      padding-left: 30px;
      padding-right: 30px;
    }
    .list-group{
      border-top: 1px solid #dddddd;
      margin-top: 18px;
    }
  }
}

a.panel{
  display: block;
  padding:20px;
  color: @gray;
}

.section{
  text-align: center;
  min-height: 200px;
  text-transform: uppercase;
  .box-shadow(0 1px 1px rgba(0,0,0,.1));
  .glyphicon{
    font-size: 66px;
  }
}