<button type="button" class="to-the-top navbar-toggle">
  <span class="sr-only">Top</span>
  <span class="glyphicon glyphicon-chevron-up"></span>
</button>

<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>

<script type='text/javascript' src='/js/bootstrap/affix.js'></script>
<script type='text/javascript' src='/js/bootstrap/transition.js'></script>
<script type='text/javascript' src='/js/bootstrap/collapse.js'></script>
<script type='text/javascript' src='/js/bootstrap/tooltip.js'></script>
<script type='text/javascript' src='/js/bootstrap/popover.js'></script>
<script type='text/javascript' src='/js/docs-main.min.js'></script>