$gray-text: $almost-black;
$text-muted: $gray-60;
$link-color: $blue-primary;
$link-hover-color: darken($blue-primary, 15%);
$link-hover-decoration: none;

$error-color: $red-44;
$info-color: $blue-50;
$warning-color: $orange-56;
$success-color: $green-38;

$body-bg-color: #f8f8f8;
$body-bg: $body-bg-color;
$body-color: $gray-text;

$input-border-focus: $blue-primary;