//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;

$dropdown-border-radius: 3px;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.05);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5;

//** Dropdown link text color.
$dropdown-link-color:            $gray-30;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      $blue-primary;//darken($gray-dark, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg:        transparent;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     white;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $blue-primary;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-80;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-60;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000;
