
// ROBOTO
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}





$font-base: "Roboto","Helvetica",Arial,sans-serif;
$font-headings: $font-base;
$font-family-base: $font-base;
$font-size-base: 14px;